URL=http://localhost:5000
DB_HOST=localhost
DB_NAME=database
DB_USER=root
DB_PASS=
Db_PORT=3306
MAINTENANCE=false
JWT_KEY=token
CACHE_TIME=0
CACHE_DIR=/temp/cache
LIMIT_PAGINATION=5

# URL=http://localhost:5000
# DB_HOST=localhost
# DB_NAME=database
# DB_USER=root
# DB_PASS=
# Db_PORT=3306
# MAINTENANCE=false
# JWT_KEY=qwe123asd
# CACHE_TIME=10
# CACHE_DIR=/temp/cache
# PAG_LIMIT=5