<nav id="sidebar" class="sidebar js-sidebar">
  <div class="sidebar-content js-simplebar">
    <a class="sidebar-brand" href="/admin">
      <span class="sidebar-brand-text align-middle">
        Painel
        <sup><small class="badge bg-primary text-uppercase">Administrativo</small></sup>
      </span>
      <img src="{{URL}}/resources/assets/img/logoPainel.png" class="img-fluid w-50" alt="" srcset="" />
    </a>
    <ul class="sidebar-nav">
      <li class="sidebar-header">Pages</li>
      {{links}}
      <hr />
    </ul>
  </div>
</nav>
