<h1>{{title}}</h1>

<hr />
<a class="btn btn-warning" href="{{URL}}/admin/testimonies" role="button">Voltar</a>
<hr />

{{status}}

<form method="post">

  <div class="mb-3">
    <label for="" class="form-label">Nome</label>
    <input type="text" name="nome" class="form-control" placeholder="Digite seu nome" value="{{nome}}" required>
  </div>

  <div class="mb-3">
    <label for="" class="form-label">Descrição</label>
    <textarea class="form-control" name="mensagem" rows="5" placeholder="Digite sua mensagem aqui">{{mensagem}}</textarea>
    
  </div>

  <button type="submit" class="btn btn-success">Enviar</button>
</form>
