<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link rel="shortcut icon" href="{{URL}}/resources/assets/img/icons/icon-48x48.png" />

    <title>{{title}}</title>

    <link href="{{URL}}/resources/assets/css/dark.css" rel="stylesheet" />
    <link href="{{URL}}/resources/assets/css/custum.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet" />
  </head>
  <!--
    HOW TO USE: 
    data-theme: default (default), dark, light, colored
    data-layout: fluid (default), boxed
    data-sidebar-position: left (default), right
    data-sidebar-layout: default (default), compact
  -->
  <body data-theme="dark" data-layout="fluid" data-sidebar-position="left" data-sidebar-layout="default">
    {{content}}
    <script src="{{URL}}/resources/assets/js/app.js"></script>
  </body>
</html>