<div class="d-flex justify-content-center">
  <div class="card mt-3 text-dark text-center" style="width: 500px">
    <div class="card-header">
      <h1>Login</h1>
    </div>
    <div class="card-body">
      {{status}}
      <form action="" method="post">
        <div class="form-group">
          <label for="">E-mail</label>
          <input type="email" name="email" placeholder="email@dominio.com" required autofocus class="form-control" />
        </div>
        <div class="form-group my-3">
          <label for="">Senha</label>
          <input type="password" name="senha" placeholder="***" required class="form-control" />
        </div>
        <button type="submit" class="btn btn-lg btn-danger">Enviar</button>
      </form>
    </div>
  </div>
</div>
